@CHARSET "UTF-8";

/* header-title */
#ds-ui-title {
	display: table;
	width: auto;
	color: white;
	user-select: none;
	text-align: left;
	height: 100%;
	padding: 5px;
	flex: 10;
}

#ds-ui-title span {
	display: table-cell;
	font-size: 6vmin;
	vertical-align: middle;
	font-weight: bold;
}

@media ( min-width :768px) {
	#ds-ui-title {
		margin-left: 3%;
	}
	#ds-ui-title span {
		font-size: 200%;
	}
}
/* ToggleMenu-button */
#ds-ui-menu {
	margin-right: 4%;
	flex: 1;
	height: 100%;
}
/* ToggleMenu-icon */
#menu-icon-table {
	width: 100%;
	height: 100%;
	display: table;
}

.menu-icon {
	display: table-cell !important;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	font-size: 6vmin;
	color: white;
}

.menu-icon:active {
	color: #C0C0C0;
}

@media (min-width:768px){
	#menu-icon-table {
        width:0;
        height: 0;
        margin:0;
        flex:0;
    }
    .menu-icon{
        display:none !important;
    }
}

/* ds-ui-data-ToggleItem */
.ds-ui-toggleMenuItem-table {
	width: 91%;
	height: 8%;
	margin: 4%;
	border-bottom: 1px dotted #00AAF0;
	display: table;
}

.ds-ui-toggleMenuItem {
	height: 90%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding-left: 4%;
	font-size: 5vmin;
	text-decoration: none;
	color: #000000;
	-webkit-tap-highlight-color: transparent;
}

.ds-ui-toggleMenuItem:hover {
	font-weight: bold;
	color: #00AAF0;
}


/* ds-ui-toggleTitle */
.ds-ui-toggleMenuTitle-table {
	width: 91%;
	height: 12.7%;
	margin: 4%;
	border-bottom: 1px solid #00AAF0;
	display: table;
}
.ds-ui-toggleMenuTitle {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 7vmin;
	font-weight: bolder;
}
/* ds-ui-toggleMenu */
.ds-ui-toggleMenu {
	background-color: white;
	position: absolute;
	width: 60%;
	height: 100%;
	border-right: 3px solid white;
	z-index:9999;
}
/* pc화면 */
@media(min-width:768px){
    .ds-ui-toggleMenu{
        margin-left:-20%;
        width:20%;
    
    }
}
@media ( max-width :768px) {
	.ds-ui-toggleMenu {
		transform: translate3d(-100%, 0, 0);
		transition: transform .3s cubic-bezier(0, .52, 0, 1);
	}
	.ds-ui-toggleMenu.hide {
		transform: translate3d(-100%, 0, 0);
	}
	.ds-ui-toggleMenu.show {
		transform: translate3d(0, 0, 0);
	}
}

@media ( min-width :768px) {
	#ds-ui-menu {
		width: 0;
		height: 0;
		margin: 0;
		flex: 0;
	}
	.menu-icon {
		display: none;
	}
}
/* ds-ui-subtopic */
#ds-ui-subtopic {
	border-top: 1px solid white;
	display: flex;
	flex-direction: row;
	height: 100%;
	/* slice를 하면 height가 늘어남. */
	
}
.ds-ui-subtopic-box{	
	
	border-left: 1px solid white;
	flex:8;
	display: flex;
	flex-direction: row;
	height: 100%;
}
/* ds-ui-subtopicItem */
.ds-ui-subtopicItem {
	flex: 1;
	background: #00AAF0;
	font-weight: bold;
	user-select: none;
	border-right: 1px solid white;
}

.ds-ui-subtopicItem .sub {
	display: table;
	height: 100%;
	width: 100%;
	text-align: center;
}

.ds-ui-subtopicItem a {
	display: table-cell;
	vertical-align: middle;
	text-decoration: none;
	color: white;
	font-size: 5vmin;
}

/* .ds-ui-subtopicItem:hover {
	background: white;
}

.ds-ui-subtopicItem a:hover {
	color: #00AAF0;
} */

.subtopic-selected {
	background: white;
}

.subtopic-selected a {
	color: #00AAF0;
}
#tutorial {
	height: 100%;
	width: 100%;
}
/* search and periodpicker */
.period-wrap {
   padding-right: 1.5vmin;
   box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.49);
   min-height: 45px;
   max-height: 70px;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   margin-bottom: 9px;
}
.ds-ui-periodpicker {
   flex: 1;
   display: flex;
   flex-direction: row;
   align-items: center;
}
.period-option {
   flex:4.5;
}
.search-button {
   border-radius: 5px;
    border: none;
    background-color: #00AAF0;
    color: white;
    padding: 1vmin;
}
.fa .fa-search {
   font-size: 4vmin;
}
/* dorpdown-picker */
.ds-ui-dropdown-picker-box {
	width: 47%;
	height: 7%;
	font-size: 4vmin;
	margin: 1.5%;
	display: flex;
	flex-direction: row;
	float: left;
}
.ds-ui-dropdown-picker-box.rowlong {
	width: 97%;
	text-align: center;
}
.ds-ui-dropdown-picker-box.rowlong div {
	width: 12%;
}
.ds-ui-dropdown-picker.rowlong {
	width:86%;
	padding-right:5%;
}

.ds-ui-dropdown-picker-box div {
	width: 30%;
	text-align: center;
	display: table;
	height: 100%;
}

.ds-ui-dropdown-picker-box label {
	display: table-cell;
	vertical-align: middle;
}

.ds-ui-dropdown-picker {
	-webkit-appearance: none; /* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
	background: url(https://cdn3.iconfinder.com/data/icons/font/216/angle_down-512.png) no-repeat 102% 50%;
	background-size: 8vmin;
	padding: 2%;
	border: 1px solid lightgray;
	width: 70%;
	height: 100%;
	font-size: 4vmin;
	border-radius: 5px;
}

.ds-ui-dropdown-picker.show {
	background: url(https://cdn0.iconfinder.com/data/icons/action-glyph/100/1-41-512.png) no-repeat 100% 50%;
	background-size: 7vmin;
}

/* inputbox */
.ds-ui-input {
	width: 47%;
	height: 7%;
	font-size: 4vmin;
	margin: 1.5%;
	/* display: flex;
	flex-direction: row; */
	float: left;
}

.ds-ui-input.onlynumber {
	text-align: center;
}

.ds-ui-input.onlynumber input {
	text-align: center;
}
.ds-ui-input.rowlong.columnlong {
	height: 30%;
}

.ds-ui-input.rowlong {
	width: 97%;
}

.ds-ui-input div {
	width: 30%;
	display: table;
	text-align: center;
	height: 100%;
	float: left;
}

.ds-ui-input.rowlong div {
	width: 15%;
}

.ds-ui-input label {
	height: 100%;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}

.ds-ui-input.rowlong.columnlong label {
	text-align: left;
}

.ds-ui-input input {
	-webkit-appearance: none; /* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
	width: 64%;
	height: 75%;
	padding: 2%;
	border: 1px solid lightgray;
	border-radius: 5px;
	float: left;
	font-size: 100%;
}

.ds-ui-input.rowlong.columnlong div {
	width: 100%;
	height: 7%;
	margin-bottom: 1%;
}

.ds-ui-input.rowlong input {
	width: 82%;
	padding: 1%;
}

.ds-ui-input.columnlong textarea {
	-webkit-appearance: none; /* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
	width: 95%;
	height: 75%;
	padding: 2%;
	border: 1px solid lightgray;
	border-radius: 5px;
	font-size: 100%;
	resize: none;
}

.ds-ui-input.kwdnumber input {
	width: 55%;
	background: url(https://cdn3.iconfinder.com/data/icons/inficons-currency-set/512/krw-512.png) no-repeat 98% 50%;
	background-size: 5vmin;
	padding-right: 5vmin;
	text-align: right;
}

.ds-ui-input.kwdnumber.rowlong input {
	width: 80%;
}
@media(max-width : 375px) {
	.ds-ui-input {
		font-size : 4vmin;
	}
	.ds-ui-input input {
		font-size : 4vmin;
	}
	.ds-ui-input.columnlong textarea {
		font-size:4vmin;
	}
	/* .ds-ui-input.kwdnumber input{
		width:56%;
	} */
}

/* date-picker */
.ds-ui-datepicker-box {
   width: 44%;
   display: flex;
   float: left;
   font-size: 4vmin;
   margin: 1.5%;
   align-items: center;
}
.ds-ui-datepicker-box .required {
   background: url(../images/calendar_required_fas.png) no-repeat 95% 48%;
   background-size: contain;
   background-color: #fffeda!important;
}
.ds-ui-datepicker-box .disabled {
   color: transparent;
}
.ds-ui-datepicker-box .disabled, 
.ds-ui-datepicker-box .readonly {
   background: url(../images/calendar_readonly_fas.png) no-repeat 95% 48%;
   background-size: contain;
   background-color: #ebebeb;
   pointer-events: none;
}
.ds-ui-datepicker-box>.datepicker-label-box {
   text-align:left;
   height:100%;
   width:26%;
   flex:1;
   display:table;
}
.ds-ui-datepicker-box>.datepicker-label-box>label {
   display:table-cell;
   vertical-align: middle;
}

.ds-ui-datepicker {
   background: url(../images/calendar_font_awesome.svg) no-repeat 95% 48%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 75%;
    padding: 2%;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 4vmin;
    width: 58%;
    background-size: 5vmin;
    padding-right: 5vmin;
    text-align: left;
}
.popup-off {
   display: none;
}

.popupBox {
   width: 100%;
   height: 100%;
}

.overlay {
   /* display: none; */
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.6);
   font-size: 2em;
}

.popup, .popup-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-size: 1.2em;
    border-radius: 2px;
}

.popup {
   position: absolute;
    width: 79%;
    height: 73%;
    max-height: 522px;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 0px 1px 13px -5px rgba(0, 0, 0, 0.75);
}

.popup-header {
   background-color: #1A73E9;
    color: white;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}

.popup-body {
   display: flex;
    flex: 1;
    padding: 5%;
}
.popup-year-body {
   flex: 1;
   padding: 5%;
}
.popup-change-body {
   display: flex;
   flex: 1;
   padding: 5%;
}

.popup-footer {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 10%;
}

.popup-set-tb {
   justify-content: space-around;
   display: flex;
   flex: 1;
}
.flex-same {
    flex: 1;
}
.popup-set-tb a {
   color: #1A73E9;
    text-decoration: none;
   display: block;
   padding: 10px;
}

/* date picker */
.date-header {
   height: 23vw;
   display: flex;
   flex-direction: column-reverse;
   justify-content: center;
   align-items: flex-start;
   padding: 1vw 0vw 0 5vw;
}

.date-title {
   font-size: 8vw;
}

.date-subtitle {
   font-size: 4vmin;
}

.date-component-spinner {
   text-align: center;
}

.date-basic {
   display: flex;
   flex: 1;
   flex-direction: column;
}

.date-tb-title {
   display: flex;
    justify-content: center;
   align-items: baseline;
}

.en {
   flex-direction: row-reverse;
}

.ko {
   flex-direction: row;
}

.ic-express-np {
   font-size: 1.2em;
}

.ic-express-np > div {
   width: 0;
}

.date-tb {
   display: flex;
    justify-content: center;
    font-size: 3.1vmin;
    margin-top: 2%;
}

.date-tb th, .date-tb td {
   padding: 2.9vmin;
   height: 4.3vmin;
}
.date-tb td.weekends, .date-tb td.holidays {
   color:red;
}

.date-tb td.except {
   display: none;
}

.date-tb th {
   color: lightslategrey;
}

.year-header {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 5%;
   box-shadow: inset 0px -10px 30px -15px rgba(0,0,0,0.5);
}
.year-header span {
   font-size: 1.7rem;
}
.year-body table , .month-body table {
   width: 100%;   
}
.year-body table tr td, .month-body table tr td {
   padding: 11% 2%;
   margin: 0 auto;
   box-shadow: 0px 2px 14px -5px rgba(0,0,0,0.5);
   height: 5.9vmin;
   width: 33%;
}

.year-header .fa {
   padding: 10px 14px;
}

.ic-express-np .fa {
   font-size: 20px;
}

.ic-express-np .fa-angle-left {
   position: fixed;
   right: 83%;
   width: 24px;
}
.ic-express-np .fa-angle-right {
   position: fixed;
   left: 83%;
   width: 24px;
}
.selecting {
   border-radius: 24px;
   box-shadow: inset 0px 0px 0px 100px lightgray;
   color: white;
}
.selected {
   border-radius: 24px;
   box-shadow: inset 0px 0px 0px 100px #1A73E9;
   color: white;
}
.year-body .selected {
   border-radius: 24px;
   background: aliceblue;
   color: black;
}
/* bubbleChart */
.bubble-point {
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

/* barChart */
.bar-showdata {
    position: absolute;
    height: 100%;
    /* width: 20px; */
    /* background-color: skyblue; */
}
.bar-showValue {
   width: 50px;
   /* background: white; */
   position: relative;
   bottom: 20px;
   left: -15px;
   /* (width - 20)/2  */
   font-size: 1rem;
   text-align: center;
   display: none;
}


/* static Button */
#ds-ui-staticBtn {
   z-index: 1;
   position: absolute;
   width: 45px;
   height: 45px;
   border-radius: 100%;
   background: #1EBA9B;
}

#ds-ui-staticBtn>div {

   position: absolute;
   display: none;
   width: 45px;
   height: 45px;
   background: #1EBA9B;
   border-radius: 100%;
   color: white;
}

#ds-ui-staticBtn>div>i::before {
   line-height: 45px;
   padding: 10px;
   font-size: 1.35rem;
}

#ds-ui-staticBtn i::before {
   color: #F3FFFF;
   line-height: 45px;
   font-size: 1.35rem;
   padding: 10px;
}

.staticBtn-item>div {
   position: absolute;
   width: 45px;
   height: 45px;
   border-radius: 100%;
   background: skyblue;
}

.staticBtn-item i {
   color: #F3FFFF;
   margin-top: 10px;
   font-size: 1.3rem;
}

#ds-ui-staticShowBtn {
   display: none;
}

#ds-ui-staticShowBtn i {
   position: fixed;
   bottom: 75px;
   right: -20px;
   font-size: 2.6rem;
   background: white;
   color: #1EBA9B !important;
   border-radius: 45px;
}
/* button */
.ds-ui-basicButton {
	height: 7%;
	width: 18%;
	float: right;
	margin-right: 2vmin;
	margin-top:1vmin;
	margin-bottom:1vmin;
}

.basicBtn {
	-webkit-appearance: none; /* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
	background-color: #00AAF0;
	border: 1px solid #00AAF0;
	border-radius: 1vmin;
	padding: 1vmin;
	color: white;
	height: 100%;
	width: 100%;
	height: 100%;
	font-size:large;
}

.ds-ui-basicButton.fileupload {
	width: 70%;
	
}

.ds-ui-basicButton.fileupload input[type="file"] {
	position: absolute;
	width:0;
	height:0;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.ds-ui-basicButton.fileupload div {
	height:100%;
	width:19%;
	display:table;
}
.ds-ui-basicButton.fileupload label {
	width:100%;
	height:100%;
	color: white;
	display:table-cell;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	text-align:center;
	/*  background: url(../images/camera-solid.svg) no-repeat 50% 50%;*/
	font-size:x-large;
	background-color: #00AAF0;
	cursor: pointer;
	border: 1px solid #00AAF0;
	border-radius: 1vmin;
} /* named upload */
.ds-ui-basicButton.fileupload .upload-name {
	margin-right:2vmin;
	float:left;
	width:75%;
	height:98%;
	padding-left: 1vmin;
	display: inline-block;
	font-size: inherit;
	font-family: inherit;
	line-height: normal;
	background-color: #f5f5f5;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
	-webkit-appearance: none; /* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
}
/* statusView */
/* .statusView,
.statusView-content {
   border-radius: 2px;
 
}*/

.statusView {
   position: absolute;
   width: 85%;
   /* height: 140vmin; */
   /* height: 20vmin; */
   height: 80%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: #FFFFFF;
   box-shadow: 0px 1px 13px -5px rgba(0, 0, 0, 0.75);
}

/* imgView */

/*  추가  */
.ds-ui-imgView {
	/*
   width: calc(100% - (73px));
	*/
	width : 100px;
}

.ds-ui-imgView>img {
   width: inherit;
}

.imgViewBox {
   position: fixed;
   width: 100%;
   height: 100%;
}

.imgView {
   position: absolute;
   width: 100%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.imgView>img {
   margin: auto;
   display: block;
   width: 80%;
   box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.59);
   border-radius: 3%;
}

/* imgView */
.statusView-content {
   display: flex;
   flex-direction: column;
   flex: 1;
   height: 100%;
   font-size: 1.2em;
}

.statusView-header {
   flex: 0.4;
   background-color: #ECF8FA;
   max-height: 200px;
}


.statusView-header>img {
   height: 100%;
}

.statusView-body {
   flex: 0.6;
   overflow: scroll;
   /* padding: 5vw; */
   margin: 0px 5px 0px 5px
}

.statusView-body::-webkit-scrollbar {
   display: none;
}

.statusView-body>div {
   float: left;
   width: 47%;
   height: 8%;
   min-height: 60px;
   margin: 1.5%;
   display: flex;
   flex-direction: column;
   font-size: 1.13rem;
}

.status-title {
   width: 100%;
   margin: auto;
   background: #E9F5FF;
   color: #388CB4;
}

.status-icon {
   color: #388CB4;
   font-size: 2.2rem;
}

.status-value {
   text-align: center;
   /* word-break    pre와 동일한 속성으로 변경 */
   word-break: break-all;
}
/* overlay */
.overlay {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.6);
   font-size: 2em;
}
/* data-table */
.data-table-wrap {
   padding: 2%;
   height: 70%;
}
.ds-ui-data-table-options {
   display: table;
   width: 98%;
   align-items: center;
   margin: 0 auto;
}
.ds-ui-input .search > input[type='text'] {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   height: 7%;
   display: flex;
   flex: 1;
   font-size: 4vmin;
   border-radius: 5px;
   padding: 2%;
   border: 1px solid lightgray;
   margin: 2%;
}

.ds-ui-data-table {
   font-size: 12px;
   color: #444;
   font-family: "museo-sans", "aller", arial;
   display: grid;
   grid-template-rows: auto 1fr;
   grid-template-columns: auto 1fr;
   width: 100%;
   height: 100%;
   background-color: white;
   border: 1px solid #d0d2d3;
   border-radius: 2%;
}
.grid-row-col-header {
   display: grid;
   width: 100%;
   grid-auto-rows: minmax(auto, 2.75rem);
   grid-auto-columns: 10em;
   grid-column: 1;
   grid-row: 1;
   align-content: center;
   box-shadow: inset -18px -18px 8px -25px rgba(0, 0, 0, 0.79);
}
.grid-row-col-header button {
   background: none;
   width: 100%;
   height: 100%;
   border: none;
   border-radius: 4%;
}
.grid-row-col-header button svg:active {
   fill: #00AAF0;
   background: none;
   width: 24px;
   height: 24px;
}
.grid-row-col-header button svg{
   fill: lightgray;
   background: none;
   width: 24px;
   height: 24px;
}

.header-column {
   color: #00AAF0;
   font-weight: 900;
}
.grid-row-header {
   display: grid;
   grid-row: 2;
   grid-column: 1;
   grid-auto-rows: minmax(3.75rem, min-content);
   grid-auto-columns: minmax(10em, auto);
   width: auto;
   align-items: center;
   overflow-y: hidden;
   overflow-x: hidden;
   border-bottom-left-radius: 2%;
}
.grid-row-header .header-column {
   padding: 1.3rem;
   box-shadow: inset -18px 0px 7px -24px rgba(0, 0, 0, 0.79);
}

.grid-header {
   display: grid;
   grid-auto-flow: column;
   grid-auto-columns: minmax(10em, auto);
   overflow-x: hidden;
   grid-column: 2;
   grid-row: 1;
   align-items: center;
}
.grid-header .header-column {
   padding: 1rem;
   box-shadow: inset 0px -18px 9px -25px rgba(0, 0, 0, 0.79);
}

.grid-body {
   display: grid;
   /* grid-row-gap: 1px; */
   grid-auto-rows: minmax(3.75rem, min-content);
   background-color: #e8e8e7;
   overflow: auto;
   grid-column: 2;
   grid-row: 2;
}

.grid-row {
   display: grid;
   grid-auto-flow: column;
   grid-auto-columns: minmax(10em, auto);
   grid-auto-rows: minmax(3.75rem, auto);
   width: auto;
   align-items: center;
   background-color: white;
}
.grid-row .grid-cell {
   padding: 0.5em;
}
.grid-row .grid-cell .ext-img {
   width: 1.75rem;
}
.grid-row .grid-cell a {
   padding: 2%;
   display: inline-block;
   text-decoration-line: none;
   -webkit-tap-highlight-color: transparent;
}
.grid-row .grid-cell .ext-doc {
   width: 1.75rem;
   text-decoration-line: none;
}
.grid-row .grid-cell .ext-none {
   width: 1.75rem;
}
.grid-row:hover {
   background-color: #e7eff7;
}
.grid-footer-header {
   display: grid;
   grid-row: 3;
   width: 100%;
   grid-auto-rows: minmax(auto, 2.75rem);
   grid-auto-columns: minmax(10em, auto);
   align-items: center;
   text-align: center;
   grid-column: 1;
   box-shadow: inset -18px 18px 9px -26px rgba(0, 0, 0, 0.79);
}
.grid-footer {
   display: grid;
   grid-auto-flow: column;
   grid-auto-rows: minmax(2.75rem, auto);
   grid-auto-columns: minmax(10em, auto);
   grid-column: 2;
   grid-row-start: 3;
   grid-row-end: 3;
   overflow-x: hidden;
   align-items: center;
   box-shadow: inset 0px 18px 9px -26px rgba(0, 0, 0, 0.79);
}
.grid-footer-header .header-column {
   color: darkgray;
   background: url(../images/data-table-function.png) no-repeat 90% 50%;
}
.grid-footer .header-column {
   color: darkgray;
}
/* ssss */
.popupBox .grid-cell {
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: black;
   font-size: 1.2rem;
}
.popup-data-header {
   text-align: left;
   padding: 3.5% 10%;
   color: white;
}
.popup-data-header .data-title {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 1.7rem;
}
.standard-change-btn {
   width: 24px;
}
.popup-columns {
    text-align: left;
    background-color: white;
    box-shadow: inset 0px 17px 53px -31px rgba(0,0,0,0.2);
}
.popup-column {
   padding: 0 0 0 10%;

}

/* eeee */
.popup-body .row-gradation {
   color: white;
   /* box-shadow: inset -237px 0px 125px -90px lime; */
   align-items: center;
   background-color: rgba(0,0,0,0.01);
   transition: cubic-bezier(0.4, 0, 1, 1) all 0.3s;
}
.popup-body .row-gradation:hover {
   background-color: rgba(0,0,0,0.01);
}
.popup-body .column-off {
   background-color: white;
   transition: cubic-bezier(0.4, 0, 1, 1) all 0.3s;
}
.off {
   display: none;
}

.statusViewBox {
   /* position: fixed; */
   width: 100%;
   /* height: 100%; */
}

.toggle {
   color: white;
   cursor: pointer;
   display: inline-block;
   width: 53px;
   height: 26px;
   padding: 1em;
   font-size: 0.8rem;
   -webkit-tap-highlight-color: transparent;
}
.toggle__rail {
   content: attr(data-ds-off);
   background-color: rgba(0, 0, 0, 0.38);
   border-radius: 3em;
   position: relative;
   transition: background-color .4s;
   padding: 3.5px 5px;
}
.toggle--active .toggle__rail {
   background-color: rgba(26,115,233,0.69);
}
.toggle__ball {
   background-color: #fafafa;
   border-radius: 100%;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
   height: 25px;
   left: 0;
   position: absolute;
   top: -1px;
   transition: left .4s, background-color .4s;
   width: 25px;
}
.toggle--active .toggle__ball {
   border: 1.2px solid #1A73E9;
   left: 30px;
}
.toggle--active .toggle__off {
   color : #619EF0;
}
/* checkbox */
.card {
   width: 100%;
   /* margin: 50px auto; */
   /* 사진 주위로 글자가 들러 붙지 않게  오른쪽 취소 */
   clear: both;
   /* display: block; */
   padding: 0px 0px;
   background-color: #009BFF;
   /* border-radius: 3px; */
   display: flex;
   flex-direction: column;
   /* border: 1px solid white; */
}
.card::after {
   clear: both;
   display: block;
   content: "";
}
.ds-ui-checkbox {
   margin: 0 auto;
   width: 100%;
   box-sizing: border-box;
   text-align: center;
   padding: 10px 0px;
   display: flex;
   /* flex-direction: row-reverse; */
}
.ds-ui-checkbox-single {
   margin: 0 auto;
   padding: 10px 0px;
}
/* checkbox wrapper */
.checkbox-wrapper {
   display: flex;
}
.input-title {
   clear: both;
   /* padding: 22px 0px 0px 0px; */
   font-size: 1.25rem;
   font-weight: 700;
   width: inherit;
}
/* Styling Checkbox Starts */
.checkbox-label {
   margin: 0px 20px 0px 20px;
   /* position: absolute; */
   display: flex;
   font-size: 1.25rem;
   clear: both;
   flex-direction: column;
}
.checkbox-label .single {
   margin: 0px 20px 0px 20px;
   position: absolute;
   display: flex;
   font-size: 1.25rem;
   clear: both;
   flex-direction: column;
}
.checkbox-label input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
}
.checkbox-label .checkbox-circle {
   /* position: absolute; */
   top: -1px;
   height: 24px;
   width: 24px;
   background-color: transparent;
   border-radius: 20px;
   transition: all 0.3s ease-out;
   -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -ms-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   border: 1px solid black;
}
.checkbox-label input:checked~.checkbox-circle {
   background-color: black;
   border-radius: 20px;
   -webkit-transform: rotate(0deg) scale(1);
   -ms-transform: rotate(0deg) scale(1);
   transform: rotate(0deg) scale(1);
   opacity: 1;
   border: 1px solid #FFFFFF;
}
.checkbox-label .checkbox-circle::after {
   position: absolute;
   content: "";
   left: 12px;
   top: 12px;
   height: 0px;
   width: 0px;
   border-radius: 20px;
   border: solid black;
   border-width: 0 3px 3px 0;
   -webkit-transform: rotate(0deg) scale(0);
   -ms-transform: rotate(0deg) scale(0);
   transform: rotate(0deg) scale(0);
   opacity: 1;
   transition: all 0.3s ease-out;
   -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -ms-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
}
.checkbox-label input:checked~.checkbox-circle::after {
   -webkit-transform: rotate(45deg) scale(1);
   -ms-transform: rotate(45deg) scale(1);
   transform: rotate(45deg) scale(1);
   opacity: 1;
   left: 8px;
   top: 3px;
   width: 6px;
   height: 12px;
   border: solid white;
   border-width: 0 2px 2px 0;
   background-color: transparent;
   border-radius: 0;
}
/* For Ripple Effect */
.checkbox-label .checkbox-circle::before {
   position: absolute;
   content: "";
   left: 10px;
   top: 10px;
   width: 0px;
   height: 0px;
   border-radius: 20px;
   border: 1px solid black;
   -webkit-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
}
.checkbox-label input:checked~.checkbox-circle::before {
   left: -3px;
   top: -3px;
   width: 24px;
   height: 24px;
   border-radius: 20px;
   -webkit-transform: scale(1.5);
   -ms-transform: scale(1.5);
   transform: scale(1.5);
   opacity: 0;
   z-index: 999;
   transition: all 0.3s ease-out;
   -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -ms-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
}
/* rectangle */
.checkbox-label .checkbox-rectangle {
   /* position: absolute; */
   top: -1px;
   height: 24px;
   width: 24px;
   background-color: transparent;
   border-radius: 5px;
   transition: all 0.3s ease-out;
   -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -ms-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   border: 1px solid black;
}
.checkbox-label input:checked~.checkbox-rectangle {
   background-color: black;
   border-radius: 5px;
   -webkit-transform: rotate(0deg) scale(1);
   -ms-transform: rotate(0deg) scale(1);
   transform: rotate(0deg) scale(1);
   opacity: 1;
   border: 1px solid #FFFFFF;
}
.checkbox-label .checkbox-rectangle::after {
   position: absolute;
   content: "";
   left: 12px;
   top: 12px;
   height: 0px;
   width: 0px;
   border-radius: 5px;
   border: solid black;
   border-width: 0 3px 3px 0;
   -webkit-transform: rotate(0deg) scale(0);
   -ms-transform: rotate(0deg) scale(0);
   transform: rotate(0deg) scale(0);
   opacity: 1;
   transition: all 0.3s ease-out;
   -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -ms-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
}
.checkbox-label input:checked~.checkbox-rectangle::after {
   -webkit-transform: rotate(45deg) scale(1);
   -ms-transform: rotate(45deg) scale(1);
   transform: rotate(45deg) scale(1);
   opacity: 1;
   left: 8px;
   top: 3px;
   width: 6px;
   height: 12px;
   border: solid white;
   border-width: 0 2px 2px 0;
   background-color: transparent;
   border-radius: 0;
}
/* For Ripple Effect */
.checkbox-label .checkbox-rectangle::before {
   position: absolute;
   content: "";
   left: 10px;
   top: 10px;
   width: 0px;
   height: 0px;
   border-radius: 5px;
   border: 1px solid black;
   -webkit-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
}
.checkbox-label input:checked~.checkbox-rectangle::before {
   left: -3px;
   top: -3px;
   width: 24px;
   height: 24px;
   border-radius: 5px;
   -webkit-transform: scale(1.5);
   -ms-transform: scale(1.5);
   transform: scale(1.5);
   opacity: 0;
   z-index: 999;
   transition: all 0.3s ease-out;
   -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -ms-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
}
.checkbox-spaceBox {
   margin: 0px 20px 0px 20px;
   display: flex;
   font-size: 1.25rem;
   clear: both;
   flex-direction: column;
   visibility: hidden;
}
.checkbox-space {
   top: -1px;
   height: 24px;
   width: 24px;
   border: 1px solid black;
}
/* radiobutton */

/* radio button */

.ds-ui-radiobutton {
   margin: 0 auto;
   width: 100%;
   box-sizing: border-box;
   text-align: center;
   padding: 10px 0px;
   display: flex;
   flex-direction: row;
}

/* radiobutton wrapper */
.radiobutton-wrapper {
   display: flex;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
   display: none;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
   position: relative;
   padding-left: 28px;
   line-height: 20px;
   font-weight: 700;
   font-size: 1.25rem;
   float: left;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
   content: '';
   position: absolute;
   left: 0;
   top: 0px;
   width: 24px;
   height: 24px;
   border: 1px solid #343434;
   border-radius: 100%;
   background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
   content: '';
   width: 18px;
   height: 18px;
   background: #AAAAAA;
   position: absolute;
   top: 4px;
   left: 4px;
   border-radius: 100%;
   -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease;
}

[type="radio"]:not(:checked)+label:after {
   opacity: 0;
   -webkit-transform: scale(0);
   transform: scale(0);
}

[type="radio"]:checked+label:after {
   opacity: 1;
   -webkit-transform: scale(1);
   transform: scale(1);
}

.radio-label {
   margin: 0px 20px 0px 20px;
   /* position: absolute; */
   display: flex;
   font-size: 1.25rem;
   clear: both;
   flex-direction: column;
}

.radio-label.disabled:before {
   background: #EBEBEB !important;
   /* background: #fff; */
}
/* rangeslider */

/* Range slider */
.ds-ui-rangeslider {
   margin: 20px 0 20px 0%;
   font-size: 1rem;
   width: 100%;
}

.range-slider-title {
   display: inline-block;
   font-weight: 800;
   font-size: 1.1rem;
   margin-bottom: 5px;
}

.range-slider-range {
   -webkit-appearance: none;
   width: calc(100% - (73px));
   height: 10px;
   border-radius: 5px;
   background: #d7dcdf;
   outline: none;
   padding: 0;
   margin: 0;
}

.range-slider-range::-webkit-slider-thumb {
   -webkit-appearance: none;
   background: white;
   border: 3px solid skyblue;
   cursor: pointer;
   transition: all 0.2s ease-out;
   height: 20px;
   width: 20px;
   margin-top: -10px;
   border-radius: 100%;
   cursor: pointer;
}

.range-slider-active::-webkit-slider-thumb {
   transform: scale3d(1.1, 1.1, 1.1);
   box-shadow: 0 0 0 0.5px #fff, 0 0 0 2px #009BFF;
}

.range-slider-range::-webkit-slider-runnable-track {
   height: 2px;
   background: #8862a9;
   border-radius: 24.1px;
   border: 2px solid #5baed2;
}

.range-slider-value {
   display: inline-block;
   position: relative;
   width: 55px;
   color: #fff;
   line-height: 20px;
   text-align: center;
   border-radius: 5px;
   border: 1px solid #1A73E9;
   background: rgb(136, 174, 218);
   padding: 5px 10px;
   margin-top: 10px;
   font-weight: 700;

}

/* accordion */
.ds-ui-accordion {
   background-color: #00AAF0;
   color: #FFFFFF;
   padding: 1.1rem;
   width: 100%;
   border: none;
   text-align: left;
   outline: none;
   /* transition: all 0.2s; */
   font-size: 1rem;
   font-weight: 800;
}
.ds-ui-accordion:after {
   font-size: 1.2rem;
   content: '\002B';
   color: white;
   font-weight: bold;
   float: right;
   margin-left: 5px;
}
.active:after {
   font-size: 1.2rem;
   font-weight: bold;
   content: "\2212";
}
.accordion-text {
   font-size: 1.1rem;
   padding: 0 1rem;
   background-color: white;
   max-height: 0;
   overflow: hidden;
   /* overflow: scroll; */
   transition: max-height 0.3s ease-out;
   text-align: left;
}
/* line clamp */
.accordion-text>p {
   /* webkit engine mozilla IE */
   display: -webkit-box;
   -webkit-box-orient: vertical;
   overflow: hidden;
}
/* loading circle */
.loader {
   position: absolute;
   left: 45%;
   top: 45%;
   border: 8px solid #f3f3f3;
   border-radius: 50%;
   border-top: 8px solid #3498db;
   width: 40px;
   height: 40px;
   /* animation: spin 0.25s linear; */
}

@-webkit-keyframes spin {
   /* 0% { -webkit-transform: rotate(0deg); } */
   /* 100% { -webkit-transform: rotate(360deg); } */
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}
.refresh-button {
   border-radius: 5px;
   border: none;
   background-color: #00AAF0;
   color: white;
   padding: 1vmin;
   font-size: 20px;
   margin: 0px 5px 0px 0.5px;
}
/* messageBox */
.ds-ui-button {
   font-size: 1rem;
   padding: 1.5%;
   background: #00AAF0;
   color: white;
   border: none;
   border-radius: 2%;
}
.messageBox {
   width: 100%;
}
.messageView {
   position: absolute;
   width: 90%;
   height: auto;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: #FFFFFF;
   box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.75);
   border-radius: 2%;
}
.message-wrap {
   display: flex;
   flex-direction: column;
   height: 100%;
}
.message-wrap .message-content {
   display: flex;
   flex-direction: row;
   flex: 3;
   height: 100%;
   font-size: 1.2em;
   align-items: center;
   margin-left: 3%;
}
.message-wrap .message-footer {
   align-items: flex-end;
   display: flex;
   flex-direction: column;
   flex: 1;
   height: 100%;
   font-size: 1.2em;
   margin-right: 5%;
   margin-bottom: 2%;
}
.message-footer .set-wrap {
   display: flex;
}
.message-footer a {
   color: #1A73E9;
   text-decoration: none;
   -webkit-tap-highlight-color: transparent;
   margin: 0 10px;
   padding: 0px 10px;
}
.message-header {
   display: flex;
   padding-left: 3%;
   background: #1A73E9;
}
.message-header .message-title {
   color: white;
   font-size: medium;
   font-weight: bold;
   padding: 2% 0 2% 0;
}
.message-content .message-desc {
   font-size: 0.9rem;
   padding: 4% 0 4% 0;
   text-align: left;
   width: 71%;
}
.message-desc span {
   vertical-align: middle;
}
.message-content .message-img {
   margin-right: 3%;
   width: 50px;
}
.error-content .error-desc {
   height: 100px;
   margin: 10px;
   border-radius: 0;
   background-color: #f5f6f6;
   padding: 10px;
   overflow-y: auto;
   border: 1px solid #d7d7d7;
}
/* chart */
.ds-ui-chart {
	margin:2vmin;
    display: flex;
    
    width: 95%;
    height: 400px;
    
    border: 1px solid black;
    /* background-color: rgba(136, 136, 136, 0.445); */
    
}
.chart-wrapper {
    position: relative;
}

.stand-line {
    position: absolute;
    background-color: black;
}
.data-point {
    position: absolute;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 2;
}
.data-point:hover{
    background-color: rgba(125, 125, 125, 0.5); 
}
.chart-index {
    /* display: flex; */
    /* background-color: pink; */
    /* border:1px solid black; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    width:100%;
    align-items:center;
}
.data-background {
    position: absolute;
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 1fr 40px;
    width: 100%;
    height: 100%;

    /* background-color: skyblue; */
}
.axis-Y {
    /* background-color: blue; */
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    text-align: center;
}
.axis-X {
    /* background-color: red; */
    display: flex;
    /* align-items: flex-end; */
    flex-direction: row;
    /* justify-content: space-between; */
    text-align: center;
    /* line-height: 40px; */
}
.data-area {
    position: relative;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    /* background-color: green; */
}
.blank{
    /* background-color: black; */
}
.background {
    position: absolute;
    width: 100%;
    height: 100%;
}
.showdata {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* pieChart css*/
.circle-shape {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0.5rem;
    background-color: #FFFFC0;
    -webkit-clip-path:circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}
.circle {
	background-color:white;
}
.circle-percent div {
	display:table-cell;
	vertical-align: middle;
	width: 100%;
    height: 100%;
}
.circle-percent p{
	text-align:center;
	width:100%;
	font-weight: bold;
}
.circle-percent .circle-title{
	font-size:5vmin;
}
.circle-percent .circle-percent-item{
	font-size:7vmin;
}

.pie {
    /* display: none; */

    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    transform-origin: center;
    /* -webkit-clip-path:polygon(0 0, 0 0, 0 0, 0 0, 0 0, 50% 50%);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0, 0 0, 50% 50%); */
    z-index:-1;
    /* transition: 0.5s; */
}
.circle-z-index{
	position:absolute;
	width: 100%;
    height: 100%;
	background-color: white;
	-webkit-clip-path:circle(23%);
	clip-path:circle(23%);
	z-index:0;
}
.circle-percent-box{
	position:absolute;
	width: 100%;
    height: 100%;
    -webkit-clip-path:circle(18%);
	clip-path:circle(18%);
	z-index:4;
}
.circle-percent{
	width: 100%;
    height: 100%;
    background-color: white;
	display:table;
}

.pie:hover {
    /* filter: brightness(180%); */
    z-index:2;
}


/* radarChart css */
.radar-wrapper {
   margin-top: 15px;
}
.basic-circle {
   position: absolute;
   width: inherit;
   height: inherit;
   border : 1px dotted black;
   z-index: -1;
}


.radar-background {
    position: absolute;
    /* margin: 0.5rem; */
    /* border-radius: 50%; */
    /* border: 0.5px solid black; */
    box-sizing: border-box;
    z-index:1;
}
.radar-background-basic {
   border-radius: 50%;
   border : 0.5px solid black;
   position: absolute;
   box-sizing: border-box;
}


.stand-line {
    left: 50%;
    width: 1px;
    height: 50%;
    transform-origin: center bottom;
}
.radar-showdata {
   position: absolute;
    /* background-color: rgba(97, 184, 255, 0.7); */
    z-index: 1;
}

/* lineChart */
.line {
	height:300px;
}
.line-background {
    position: absolute;
    /* border-left:3px solid black; */
    /* border-bottom:3px solid black; */
    /* background-color: skyblue; */
    /* border: 1px solid black; */
    box-sizing: border-box;
}
.line-showdata {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(255, 0, 0, 0.5);
    z-index: 1;
}
.line-background > .stand-line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color:rgba(0, 0, 0, 0.5);
}
.stand-line-value0 {
	top: -25px !important;
}
.stand-line-value {
   width: 40px;
   height: 20px;
   font-weight: bold;
   color : white;
   background: #828282;
   left: -20px;
   top: -35px;
   text-align: center;
   position: relative;
   /* transform: rotate(-300deg) !important; */
}
.line-title {
	width:100%;
	height:15%;
}
.line-title div {
	height:100%;
	width:100%;
	display:table;
}
.line-title label {
	display:table-cell;
	vertical-align: middle;
	font-size: 4vmin;
	font-weight: bold;
}

/* cardlist */
.cardlist {
   height: 70px;
   padding: 10px 2px 2px 2px;
   display: flex;
   background: #FFFFFF;
   box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.79);
   border-top: 0.1px solid #F1F1F1;
   border-bottom: 0.1px solid #BEBEBE;
   border-right: 1px solid #CACACB;
   flex: 1;
}

.cardlist:last-child {
   margin-bottom: 0;
}

.card-topic {
   min-width: 80px;
   max-width: 80px;
   margin: auto 4% auto 4%;
   font-size: 1.2rem;
   color: #040404;
   font-weight: 550;
   flex-grow: 1;
   text-align: center;


}

.cardlist>.card-content {
   border-left: 1px solid #ABACB2;
   flex-grow: 5;
   text-align: right;
   font-size: 1rem;
   display: flex;
   flex-direction: column;
   margin: auto 1.5% auto auto;
}



.cardlist .card-content span:nth-child(1) {
   font-size: 0.8rem;
   color: #BEBEBE;
}

.cardlist .card-content span:nth-child(2) {
   font-size: 1.5rem;
}


.ds-ui-cardlist {
   margin-bottom: 10px;
   display: flex;
   transition: all 10ms ease 0s;
}

#ds-ui-setting {
   display: none;
}

.ds-ui-setting {
   display: none;
   height: 70px;
   padding: 10px 2px 2px 2px;
   align-items: center;
   justify-content: center;
   box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.79);
   background: #FFFFFF;
   font-size: 1.4rem;
   margin-left: 2px;
}

.ds-ui-setting>i {
   margin: auto;
   padding: 5px;
   border: 1px solid black;
}
/*  기본 icon View */
.ds-ui-icon {
   border-radius: 5px;
   border: 0.5px solid white;
   background-color: #00AAF0;
   color: white;
   font-size: 20px;
   margin: 0px 5px 0px 0.5px;
   width: 30px;
   height: 30px;
   line-height: 30px;
}
/* footItem */
.ds-ui-footerBox {
   display: flex;
   flex-basis: 100%;
}

.ds-ui-footerBox>div {
   font-size: 0.9rem;
   display: flex;
   flex-direction: column;
}

.ds-ui-footerBox>div.vertical {
   flex-direction: column;
   display: flex;
   line-height: 35px;
}

.ds-ui-footerBox>div.horizen {
   display: flex;
   flex-direction: row;
   line-height: 70px;
}

.ds-ui-footerBox>div {
   flex: 1;
}

.ds-ui-footerBox>div>p {
   flex-grow: 1;
}
/* filter */
.filterBox {
   position: fixed;
   width: 100%;
   height: 100%;
   z-index:100;
}

.filterView {
   position: absolute;
   width: 85%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: #FFFFFF;
   display: flex;
   flex-direction: column;
   height: 350px;
   border : 5px solid white;
}

.filter-content {
   /* border: 1px solid #2080D0; */
   flex: 0.3;
   display: flex;
}

.filter-content>div {
   flex-grow: 1;
}

.filter-topic {
   display: flex;
   flex-direction: column;
   /* margin: 0px 2px 0px 2px; */
   border : 1px solid white;

}

.filter-topic-name {
   flex: 0.5;
   background: #00AAF0;
   color: white;
   font-size: 1.2rem;
}

.filter-topic-item {
   flex: 0.5;
   /* background-color: #ededed; */
   /* border-color: #ddd; */
   border : 1px solid #84B8E8; 
   color: #333;
   text-shadow: 0 1px 0 #f3f3f3;
   text-align: center;
   font-size: 1.2rem;
}
.filter {
   flex: 1;
   /* background-color: #ededed; */
   border : 1px solid #84B8E8; 
   color: #333;
   text-shadow: 0 1px 0 #f3f3f3;
   /* background : blue; */
   overflow: scroll;
}

.filter>div {
   font-size: 1.3rem;
   padding: 0.5rem;
}

.filter-click {
   /* margin-top: 10px; */
   flex: 0.1;
   display: flex;
   flex-direction: row;
}

.filterBtn {
   background-color: #00AAF0;
   color: white;
   border: 1px solid #2080D0;
   padding: 0.5rem;
   flex-grow : 1;
   font-size: 1.0rem;
   margin: 4px 2px;
}
/* dateView */
.dateBox {
   position: fixed;
   width: 100%;
   height: 100%;
   z-index:101;
}

.dateView {
   position: absolute;
   width: 85%;
   /* height: 500px; */
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border : 1px solid #2080D0;
}

.date-content {
   background: #FAFAFA;
   display: flex;
   flex-direction: column;
}

.date-content>div {
   flex: 1;
}

.date-year {
   overflow: scroll;
   max-height: 350px;
}

.date-year-item {
   font-size: 1.2rem;
   flex-grow: 1;
   padding: 0.5rem;
}

.date-filter-detail {
   overflow: scroll;
   max-height: 300px;
   /* height: 300px; */
   font-size: 1.2rem;
}

.date-detail-item {
   padding: 0.5rem;
}